.wpsm-content-wrap {
  display: flex;
}
.wpsm-content-wrap ul.wpsm-side-nav {
  float: left;
  flex: 1;
  margin: 0 20px 0 0 ;
  padding: 0;
  background: #fafafa;
}
.wpsm-content-wrap ul.wpsm-side-nav li {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.wpsm-content-wrap ul.wpsm-side-nav li.active {
  background: #eee;
}
.wpsm-content-wrap ul.wpsm-side-nav li a {
  display: block;
  text-decoration: none;
  padding: 8px 15px;
  color: #222;
}
.wpsm-content-wrap ul.wpsm-side-nav li a:hover {
  background: #eee;
}
.wpsm-content-wrap .wpsm-content {
  flex: 3;
}
.wpsm-content-wrap .wpsm-content .wpsm-content-article {
  border-bottom: none;
}
